# Intro to DataFrames

References:

- RDD API docs: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

Rules of thumb:
- Hit tab to auto-complete
- To see all available methods, place a dot (.) after the RDD (e.g. words.) and hit tab 
- Use `.collect()` to see the contents of the RDD

Solutions for potentially challenging exercises can be found in the end of the section. Don't peek unless you're really stuck!

In [ ]:
# like in the pyspark shell, SparkSession is already defined
spark

## 1. DataFrame methods

### 1.1 Reading a simple file

In [ ]:
df = spark.read.json("../data/people/names.json")

In [ ]:
df.head(5)

In [ ]:
df.show()

In [ ]:
df.printSchema()

In [ ]:
df.columns

In [ ]:
df.count()

In [ ]:
# selecting a column
df['name']

In [ ]:
# creating a new dataframe with only selected columns
df.select('name')

In [ ]:
# creating a new dataframe with only selected columns
df.select(['name', 'age']).show()

In [ ]:
# renaming columns
df = df.withColumnRenamed('AGE', 'age')

### Filtering
`.filter()` takes in either (i) a `Column` of `types.BooleanType` or (ii) a string of SQL expression.

In [ ]:
# filter using SQL expressions
# df.where('age >= 25').show() is also possible because .where() is an alias for .filter()
df.filter('age >= 25').show()

In [ ]:
# filter using a column of boolean types
df.filter(df.age >= 25).show()

In [ ]:
# df.age >= 25 returns a Column of booleans
df.age >= 25

In [ ]:
df.filter( (df.age >= 25) & (df.age <= 30) ).show()
# you can use df.age or df['age']
# you can replace & with | for 'or' operations

### df.groupBy([cols])

- [.groupBy() docs](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.groupBy)
- [GroupedData operations](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData)

In [ ]:
df.groupBy()

In [ ]:
# calculate total age and height
df.groupBy().sum().show()

In [ ]:
# calculate average age and height
df.groupBy().avg().show()

In [ ]:
# calculate max and min
df.groupBy().max().show()
df.groupBy().min().show()

### grouping by specific columns

In [ ]:
df.groupBy('gender')

In [ ]:
# TODO: calculate average height for each gender

In [ ]:
# TODO: calculate max height for each gender

### 1.2 Crimes Data

In [ ]:
df = spark.read.csv("../data/crimes/Crimes_-_One_year_prior_to_present.csv", header=True, inferSchema=True)
# try the above without the header and inferSchema option. see what happens!

In [ ]:
df.printSchema()

In [ ]:
# TODO: Explore the dataset
# - what are the columns?
# - what's the schema (e.g. data type of each column)?
# - what does the first row look like?
# - how many entries are there?

In [ ]:
df.columns

In [ ]:
# TODO: Explore the dataset
df.take(1)

In [ ]:
# TODO: Find total number of cases where ARREST='Y'
# TODO: Find total number of cases where ARREST='N'
df.filter(df['ARREST'] == 'Y').count()
df.filter(df['ARREST'] == 'N').count()

## SQL

In [ ]:
df = spark.read.json("../data/people/names.json")

In [ ]:
df.createOrReplaceTempView('names')

In [ ]:
spark.sql("SELECT * FROM names")
# add .show() to see the resulting dataframe

In [ ]:
spark.sql("SELECT * FROM names WHERE height > 170").show()